<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @genre.name %><br>
  
  <%Genre.find(@genre.id).songs.each do |song|%>
  <%=song.name%><br>
  <%end%>
  

</p>

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
